<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Family budget</a>
    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/budgets"
            (click)="isMenuCollapsed = true"
            >Budget</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            (click)="isMenuCollapsed = true"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
